PORT=3000
NODE_ENV=development

# Postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=fitness_db
DB_USER=fitness_admin
DB_PASSWORD=fitness_pass_2026

# JWT
JWT_SECRET=please_change_me_jwt_secret_min_32_characters_long_string
JWT_REFRESH_SECRET=please_change_me_refresh_secret_min_32_characters
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Bcrypt
BCRYPT_ROUNDS=12

# CORS
FRONTEND_ORIGIN=http://localhost:5173
